div.code-cell.container div.prompt {
	color: #307FC1
}

div.output-cell.container div.prompt {
	color: #BF5B3D
}

div.code-cell.container div.prompt, div.output-cell.container div.prompt {
	user-select: None;
	font-size: 13px;
	font-family: "SFMono-Regular", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	border: None;
	padding: 11px 0 0;
	margin: 0 5px 0 0;
	box-shadow: None;
	wrap-option: None;
	white-space: nowrap
}

div.code-cell.container, div.output-cell.container {
	padding-top: 5px;
	display: flex;
	align-items: stretch;
	margin: 0
}

div.code-cell.container div.code-cell-code, div.output-cell.container div.output-cell-code {
	width: 100%;
	padding-top: 0;
	margin-top: 0
}
